// Colors

$color-primary: #1C5B92;
$color-secondary: #24b956;
$color-tertiary: #6536a6;
$black: #444444;
$white: #ffffff;
$gray: #eeeeee;
$dark-gray: #999999;


// Global settings
$font-stack: 'Lato', 'Arial', sans-serif;
$global-width: 620px;
$global-font-size: 16px;
$global-padding: 16px;
$global-margin: 16px;
$global-title-margin: 14px;
$global-line-height: 1.8;
$global-title-line-height: 1.8;
$global-radius: 6px;

// Titles
$h1-size: 30px;
$h2-size: 28px;
$h3-size: 26px;
$h4-size: 24px;
$h5-size: 22px;
$h6-size: 18px;

