@import 'settings';

*{
	margin: 0;
	padding: 0;
}

body, .wrapper{
	background-color: $gray;
}

table, .wrapper{
	width: 100%;
}

img{
	display: block;
}

.container{
	width: $global-width;
	margin: auto;
	.row{
		width: 100%;
	}
}
.column-eq-width{
	table-layout: fixed;
	table{
		table-layout: auto;
	}
}

.social-links{
	width: 80%;
}

//card
.card{
	background-color: $white;
	border-radius: $global-radius;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
	.card__img{
		img{
			display: block;
			max-width: 100%;
		}
	}

	.card__title{
		&.card__title--small{
			font-size: $h6-size;
		}
	}

	.spacer{
		background-color: $white;
		color: $white;
	}
}
.card.card--side{
	border: ($global-padding / 2) solid $white;
	.card__header{
		width: 40%;
	}
}

//footer
.footer{
	p, a{
		color: $dark-gray;
	}
}


//Titulos
h1, h2, h3, h4, h5, h6{
	color: $color-primary;
	line-height: $global-title-line-height;
	font-weight: bold;
}

h1{ font-size: $h1-size; }
h2{ font-size: $h2-size; }
h3{ font-size: $h3-size; }
h4{ font-size: $h4-size; }
h5{ font-size: $h5-size; }
h6{ font-size: $h6-size; }

//tipography

a{
	color: $black;
	text-decoration: underline;
}

td{
	font-family: $font-stack;
}
p, a{
	
	font-size: $global-font-size;
	line-height: $global-line-height;
}
.last p{
	margin-bottom: 0;
}

.text-center{
	text-align: center;
}

.text-left{
	text-align: left;
}

.text-right{
	text-align: right;
}

// TAG
.tag{
	display: inline-block;
	padding: 1% 3%;
	font-weight: lighter;
	&.tag--primary{
		color: $white;
		background-color: $color-primary;
		border-radius: $global-radius;
	}
}